body {
  margin: 0;
  padding: 0;
}
.main {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(250, 245, 245), blue);
}
.head {
  display: inline;
}

.heading {
  float: left;
  padding: 1% 5%;
  text-align: center;
  font-weight: bolder;
  border-radius: 20px;
  border-bottom: 10px solid black;
  border-right: 5px solid black;
  margin: -3% 1%;
  color: yellowgreen;
}
.heading3 {
  text-align: center;
  font-style: italic;
  font-size: 3rem;
  float: unset;
  padding: 3rem;
}
.button {
  text-align: center;
  padding: 2%;
}
