body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(250, 245, 245), blue);
}
.head {
  display: inline;
}

.heading {
  float: left;
  padding: 1% 5%;
  text-align: center;
  font-weight: bolder;
  border-radius: 20px;
  border-bottom: 10px solid black;
  border-right: 5px solid black;
  margin: -2rem 1rem;
  color: rgb(77, 112, 7);
  font-family: sans-serif;
}
.heading3 {
  text-align: center;
  font-style: italic;
  font-size: 3rem;
  float: unset;
  padding: 3rem;
}
.button {
  text-align: center;
}
.btn{
  margin: 0;
  background: none;
  border: none;
}
img {
  height: 10%;
  width: 50%;
}
